.DescriptionTopLayer {
    background-color: orange;
    padding: 15px;
    border-radius: 8px;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
  }
  
  @keyframes slideFromLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .desriptionItems{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .mini{
    display: flex;
    align-self: flex-end;
  }

  .AnimatedEmoji{
    height: 40px;
    margin-top: 20px;
    }
  
    .LogoutButton{
      background-color: orange;
      color: black;
      width: fit-content;
      border: 1px solid ;
      padding: 7px;
      border-radius: 6px;
    }